body {
	background: #f5f8fa;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0)
}

.navbar {
	margin-bottom: 0;
	z-index: 99;
	border-radius: 0
}

.navbar-collapse {
	border-top: none
}

.nav.user-nav {
	float: right
}

.nav.user-nav>li {
	float: left;
	height: 60px
}

.nav.user-nav>li>a {
	display: block;
	padding: 20px 15px;
	color: #c1c1c1;
	transition: all .3s ease
}

@media (max-width:1199px) {
	.nav.user-nav>li>a {
		padding: 20px 10px
	}
}

.nav.user-nav>li>a:focus,.nav.user-nav>li>a:hover {
	color: #fff;
	background: none;
	transition: all .3s ease
}

@-webkit-keyframes loader-scale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	45% {
		-webkit-transform: scale(.1);
		transform: scale(.1);
		opacity: .7
	}

	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

@keyframes loader-scale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}

	45% {
		-webkit-transform: scale(.1);
		transform: scale(.1);
		opacity: .7
	}

	80% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1
	}
}

.loader-inner>span.nth-child(1) {
	-webkit-animation: loader-scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08);
	animation: loader-scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08)
}/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */.mtm {
	margin-top: 10px!important
}

.mlm {
	margin-left: 10px!important
}

.prm {
	padding-right: 10px!important
}

.text-center {
	text-align: center!important
}

.swiper-container {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	-webkit-transition-property: -webkit-transform,left,top;
	-webkit-transition-duration: 0s;
	-webkit-transform: translateZ(0);
	-webkit-transition-timing-function: ease;
	-moz-transition-property: -moz-transform,left,top;
	-moz-transition-duration: 0s;
	-moz-transform: translateZ(0);
	-moz-transition-timing-function: ease;
	-o-transition-property: -o-transform,left,top;
	-o-transition-duration: 0s;
	-o-transform: translateZ(0);
	-o-transition-timing-function: ease;
	-o-transform: translate(0);
	-ms-transition-property: -ms-transform,left,top;
	-ms-transition-duration: 0s;
	-ms-transform: translateZ(0);
	-ms-transition-timing-function: ease;
	transition-property: transform,left,top;
	transition-duration: 0s;
	transform: translateZ(0);
	transition-timing-function: ease;
	box-sizing: border-box
}

.swiper-slide {
	float: left;
	box-sizing: border-box
}

.swiper-hidden {
	visibility: hidden!important;
	height: 0!important
}

.swiper-hidden:first-child {
	visibility: visible!important;
	height: 100%!important
}

.arrow-left,.arrow-right {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	color: #dbdbdb;
	transition: all .3s ease
}

.arrow-left:focus,.arrow-right:focus {
	color: #dbdbdb
}

.arrow-left:hover,.arrow-right:hover {
	color: #616161;
	transition: all .3s ease
}

.arrow-left {
	left: -50px
}

.arrow-right {
	right: -50px
}

.btn {
	transition: all .3s ease
}

.btn:focus,.btn:hover {
	transition: all .3s ease;
	text-decoration: none
}

.btn-primary,.btn-primary:focus,.btn-primary:hover {
	color: #fff
}

.es-poster {
	position: relative;
	background: #fff;
	margin: 0 auto;
	max-height: 600px
}

.es-poster .swiper-slide {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	visibility: visible
}

.es-poster .swiper-slide .img-responsive {
	margin: 0 auto
}

.swiper-pager {
	position: absolute;
	bottom: 30px;
	z-index: 100;
	width: 100%;
	text-align: center
}

@media (max-width:767px) {
	.swiper-pager {
		display: none
	}
}

html {
	height: 100%
}

.light-poster {
	max-height: 583px;
	margin: 0 auto 30px
}

.light-poster:hover .arrow-left,.light-poster:hover .arrow-right {
	opacity: 1;
	filter: alpha(opacity=100)
}

.light-poster .arrow-left,.light-poster .arrow-right {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	background: hsla(0,0%,100%,.1);
	color: #fff;
	border-radius: 50%;
	text-align: center;
	opacity: 0;
	filter: alpha(opacity=0)
}

.light-poster .arrow-left {
	left: 50%;
	margin-left: -550px
}

.light-poster .arrow-right {
	right: 50%;
	margin-right: -550px
}

a:focus,a:hover {
	color: #46c37b
}

.navbar-nav>li>a {
	padding-top: 20px;
	padding-bottom: 20px
}

.img-full {
	width: 100%
}

a {
	color: #46c37b
}

a,a:active,a:focus,a:hover,a:visited {
	transition: all .3s ease
}

.btn {
	border-radius: 0;
	padding: 6px 14px
}

.btn-primary {
	border-color: #46c37b;
	background-color: #46c37b
}

.btn-primary:hover {
	border-color: #34a263;
	background-color: #34a263
}

.btn-primary:focus {
	background-color: #46c37b
}

.btn-lg-more {
	padding: 18px 120px;
	font-size: 16px
}

@media (max-width:991px) {
	.btn-lg-more {
		padding: 10px 120px
	}
}

.mrxl {
	margin-right: 30px!important
}

@media (max-width:991px) {
	.col-md-4,.col-xs-6 {
		padding-left: 5px;
		padding-right: 5px
	}
}

.es-main-theme .btn-primary {
	border-color: #338de3;
	background-color: #60a6e9
}

.es-main-theme .btn-primary:focus,.es-main-theme .btn-primary:hover {
	background: #3c92e4;
	border-color: #338de3
}

.es-main-theme .light-navbar {
	background-color: #fff;
	border-color: transparent
}

@media (max-width:991px) {
	.es-main-theme .light-navbar.navbar-fixed-top {
		position: relative
	}
}

.es-main-theme .light-navbar .navbar-nav>li>a {
	color: #313131
}

.es-main-theme .light-navbar .navbar-nav>li>a:hover {
	color: #60a6e9
}

.es-main-theme .light-navbar .navbar-headers {
	float: left
}

@media (max-width:991px) {
	.es-main-theme .light-navbar .navbar-headers {
		padding-left: 10px
	}
}

.es-main-theme .light-navbar .navbar-nav {
	margin: 0
}

@media (max-width:991px) {
	.es-main-theme .light-navbar .navbar-nav,.es-main-theme .light-navbar .navbar-nav>li {
		float: none
	}
}

.es-main-theme .light-navbar .navbar-brand {
	line-height: 50px;
	height: 60px;
	color: #313131
}

@media (max-width:991px) {
	.es-main-theme .light-navbar .navbar-brand {
		padding: 10px 0
	}
}

.es-main-theme .light-navbar .navbar-brand:hover {
	color: #313131
}

@media (max-width:991px) {
	.es-main-theme .light-navbar .navbar-collapse {
		padding: 0 10px 0 0
	}
}

@media (max-width:991px) {
	.es-main-theme .light-navbar .user-nav {
		margin-right: 0!important
	}
}

.es-main-theme .light-navbar .user-nav li a {
	color: #313131;
	transition: all .3s ease
}

.es-main-theme .light-navbar .user-nav li a:hover {
	background-color: transparent;
	color: #60a6e9
}

.es-main-theme .light-course-item {
	background-color: #fff;
	margin-bottom: 30px
}

@media (max-width:991px) {
	.es-main-theme .light-course-item {
		margin-bottom: 10px
	}
}

.es-main-theme .light-course-item:hover .img-responsive {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.es-main-theme .light-course-item:hover .course-img .mask {
	opacity: 1;
	filter: alpha(opacity=100)
}

.es-main-theme .light-course-item .img-responsive {
	transition: all .3s ease
}

.es-main-theme .light-course-item .title {
	border-bottom: 1px solid #f1f1f1
}

@media (max-width:767px) {
	.es-main-theme .light-course-item .title {
		border-bottom: none
	}
}

.es-main-theme .light-course-item .title a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	margin: 15px;
	color: #313131;
	line-height: 24px;
    text-align: center;
}

@media (max-width:767px) {
	.es-main-theme .light-course-item .title a {
		max-width: 88%
	}
}

.es-main-theme .light-course-item .title a:hover {
	color: #60a6e9
}

.es-main-theme .light-course-item .metas {
	color: #616161;
	font-size: 12px;
	padding: 11px 10px
}


.es-main-theme .light-course-item .course-img {
	position: relative;
	overflow: hidden
}

.es-main-theme .light-course-item .course-img .mask {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 90;
	margin: 0;
	color: #fff;
	background-color: #7392b8;
	background-color: rgba(0,0,0,.5);
	text-align: center;
	padding-top: 40px;
	opacity: 0;
	filter: alpha(opacity=0)
}

.es-main-theme .light-course-item .course-img .mask a {
	color: #fff
}

.es-main-theme .light-course-item .course-img .mask .btn {
	padding: 6px 46px;
    margin: 50px;
}

@media (max-width:991px) {
	.es-main-theme .light-course-item .course-img .mask .btn {
		padding: 6px 20px
	}
}

.es-main-theme .light-section {
	padding: 30px 0
}

@media (max-width:991px) {
	.es-main-theme .light-section {
		padding: 15px 0
	}
}

.es-main-theme .light-title {
	text-align: center
}

.es-main-theme .light-title h2 {
	font-size: 30px;
	color: #3c3e3d;
	margin: 0 auto;
	font-weight: 400;
	position: relative;
	display: inline-block;
    margin: 100px 0px 0px 0px;
}

@media (max-width:991px) {
	.es-main-theme .light-title h2 {
		font-size: 22px
	}
}

.es-main-theme .light-title h2:after {
	content: "";
	width: 64px;
	height: 1px;
	background-color: #60a6e9;
	margin: 30px auto;
	display: block
}

@media (max-width:991px) {
	.es-main-theme .light-title h2:after {
		margin: 15px auto
	}
}

.es-main-theme .light-title p {
	font-size: 16px;
	max-width: 530px;
	margin: 0 auto 30px;
	line-height: 30px
}

@media (max-width:991px) {
	.es-main-theme .light-title p {
		font-size: 13px;
		line-height: 20px
	}
}

.es-main-theme .copyright {
	background-color: #ffffff;
	padding: 15px 0;
	font-size: 12px
}

.es-main-theme .copyright a {
	color: #585858;
	font-size: 12px
}

.es-main-theme .btn-primary {
	background-color: #60a6e9;
	border-color: #60a6e9
}

.es-main-theme .btn-primary:active,.es-main-theme .btn-primary:focus,.es-main-theme .btn-primary:hover {
	background-color: #60a6e9;
	border-color: #60a6e9;
	color: #fff
}
.es-banner {
	position: relative;
	height: 80px;
	padding: 20px 0;
	background-color: #f5f5f5;
	letter-spacing: 1px
}

@media (max-width:767px) {
	.es-banner {
		height: 60px;
		padding: 15px 0
	}
}

.es-banner .container {
	position: relative
}

.es-banner .title {
	text-transform: uppercase;
	padding: 6px 0;
	font-size: 20px
}

@media (max-width:767px) {
	.es-banner .title {
		font-size: 16px
	}
}

.es-banner .title>i {
	display: none;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	font-size: 20px
}

@media (max-width:767px) {
	.es-banner .title>i {
		font-size: 16px;
		margin-right: 5px
	}
}

.es-banner .more {
	position: absolute;
	top: 0;
	right: 10px
}

@media (max-width:767px) {
	.es-banner .more {
		padding: 6px 12px
	}
}

.nav-filter {
	padding: 10px 0;
	border-bottom: 1px solid #f5f5f5
}

.nav-filter .btn-group {
	float: right;
	margin-top: -5px
}

.nav-filter .nav-pills {
	float: left
}

.nav-filter .nav-pills>li {
	margin-right: 15px
}

@media (max-width:767px) {
	.nav-filter .nav-pills>li {
		margin-right: 10px
	}
}

.nav-filter .nav-pills>li.dropdown>a {
	color: #616161;
	border: none;
	background: none;
	padding: 4px 0
}

.topic-list .topic-item {
	position: relative;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f5f5f5
}

.topic-list .topic-item .title {
	margin-bottom: 10px
}

.topic-list .topic-item .title a {
	color: #616161;
	transition: all .3s ease
}

.topic-list .topic-item .title a:hover {
	transition: all .3s ease
}

.topic-list .topic-item .metas {
	color: #919191
}

.topic-list .topic-item .metas>.name {
	color: #616161;
	transition: all .3s ease
}

.topic-list .topic-item .metas>.name:hover {
	transition: all .3s ease
}

@media (min-width:768px) {
	.topic-list .topic-item .metas>.period,.topic-list .topic-item .metas>span {
		margin: 0 5px
	}
}

@media (min-width:768px) {
	.topic-list .media-body {
		padding-right: 100px
	}
}

.topic-list .media-data {
	position: absolute;
	top: 5px;
	right: 0;
	text-align: center;
	color: #919191
}

.topic-list .media-data span {
	padding: 0 10px;
	display: inline-block
}

.topic-list .media-data span+span {
	border-left: 1px solid #e1e1e1
}

.note-filter .btn-group .dropdown-menu {
	max-height: 300px;
	overflow-y: auto
}

.note-list .note-item {
	position: relative;
	margin-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f5f5f5
}

.note-list .note-item .content {
	margin-bottom: 20px;
	max-height: 90px;
	overflow: hidden;
	transition: all .3s ease
}

.note-list .note-item .content.active {
	max-height: 3000px;
	transition: all .3s ease
}

.note-list .note-item .content p {
	line-height: 30px;
	margin-bottom: 0
}

.note-list .note-item .more {
	display: none;
	margin-bottom: 20px
}

.note-list .note-item .metas {
	color: #919191
}

.note-list .note-item .metas>.name {
	color: #616161;
	transition: all .3s ease
}

.note-list .note-item .metas>.name:hover {
	transition: all .3s ease
}

@media (min-width:768px) {
	.note-list .note-item .metas>.period,.note-list .note-item .metas>span {
		margin: 0 5px
	}
}

.note-list .note-item .metas .metas-sns {
	float: right
}

.note-list .note-item .metas .metas-sns>span {
	margin-left: 10px
}

.note-list .note-item .metas .metas-sns>span i {
	margin-right: 3px
}

.note-list .note-item .metas .metas-sns>span>a {
	color: #919191;
	transition: all .3s ease
}

.note-list .note-item .metas .metas-sns>span>a:hover {
	transition: all .3s ease
}

.note-list .note-item .metas .icon-favour.active>a>i {
	animation: rotate 2s;
	-moz-animation: rotate 2s;
	-webkit-animation: rotate 2s;
	-o-animation: rotate 2s
}

.es-bar {
	position: fixed;
	top: 0;
	bottom: 0;
	right: -230px;
	width: 265px;
	z-index: 888;
	background-color: #fff
}

.es-bar .go-top {
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .3s ease
}

.es-bar .go-top.show {
	visibility: visible;
	opacity: 1;
	filter: alpha(opacity=100);
	transition: all .3s ease
}

.es-bar-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 35px;
	background-color: #fff;
	box-shadow: -1px 0 2px 0 rgba(0,0,0,.1)
}

.es-bar-menu>ul {
	position: absolute;
	left: 0;
	right: 0;
	padding: 0;
	text-align: center;
	list-style-type: none;
	margin-bottom: 0
}

.es-bar-menu>ul>li {
	position: relative;
	margin: 10px auto;
	padding: 8px 0;
	display: block;
	transition: all .3s ease
}

.es-bar-menu>ul>li .popover {
	min-width: 250px;
	margin-right: 50px
}

.es-bar-menu>ul>li.bar-weixin-btn .popover {
	min-width: 120px;
	text-align: center
}

.es-bar-menu>ul>li.bar-weixin-btn .popover-content {
	padding: 5px
}

.es-bar-menu>ul>li.active,.es-bar-menu>ul>li:hover {
	transition: all .3s ease
}

.es-bar-menu>ul>li.active>a,.es-bar-menu>ul>li:hover>a {
	color: #fff;
	transition: all .3s ease
}

.es-bar-menu>ul>li>a {
	display: block;
	color: #616161;
	transition: all .3s ease
}

.es-bar-menu>ul>li>a>i {
	display: block;
	font-size: 18px
}

.bar-menu-top {
	top: 100px;
	background-color: #fff;
	z-index: 2
}

.bar-menu-top .bar-user {
	padding: 10px 0;
	border-top: 1px solid #f5f5f5;
	border-bottom: 1px solid #f5f5f5
}

.bar-menu-top .bar-user.active .badge,.bar-menu-top .bar-user:hover .badge {
	background-color: #fff;
	transition: all .3s ease
}

.bar-menu-top>li {
	position: relative
}

.bar-menu-top>li .dot {
	position: absolute;
	top: 8px;
	right: 6px
}

.bar-menu-sns {
	bottom: 0;
	z-index: 1
}

.bar-menu-sns .popover-content {
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto
}

.es-bar-main {
	position: absolute;
	top: 0;
	left: 35px;
	bottom: 0;
	width: 230px;
	z-index: 888;
	opacity: 0;
	filter: alpha(opacity=0);
	visibility: hidden;
	background-color: #fafafa;
	-webkit-transform: scale(.8);
	transform: scale(.8);
	transition: all .3s ease
}

.es-bar-main.active {
	top: 0;
	opacity: 1;
	filter: alpha(opacity=100);
	z-index: 999;
	visibility: visible;
	-webkit-transform: scale(1);
	transform: scale(1);
	transition: all .3s ease
}

.es-bar-main .bar-main-header {
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	font-size: 16px;
	text-align: center
}

.es-bar-main .bar-main-header>a {
	position: absolute;
	left: 10px
}

.es-bar-main .bar-main-body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	overflow-x: hidden;
	font-size: 12px;
	margin-top: 60px;
	padding: 0 15px
}

.es-bar-main .bar-main-body .ps-scrollbar-x-rail {
	display: none!important
}

.es-bar-main .btn-action {
	margin-bottom: 20px;
	padding: 0 10px;
	text-align: center
}

.es-bar-main .btn-action span {
	position: relative
}

.es-bar-main .btn-action .dot-md {
	position: absolute;
	top: -4px;
	right: -4px
}

.es-bar-main .course-item {
	margin-bottom: 20px!important
}

.es-bar-main .course-item .title {
	margin: 0;
	padding: 5px 10px
}

.es-bar-main .progress {
	margin-bottom: 0
}

.bar-message {
	list-style-type: none;
	padding-left: 0
}

.bar-message>li {
	position: relative;
	margin-top: 0;
	padding: 15px 0;
	border-bottom: 1px dashed #e1e1e1
}

.bar-message>li:last-child {
	border: none
}

.bar-message>li .notification-footer {
	margin-top: 5px;
	color: #919191
}

.bar-message>li>i {
	position: absolute;
	top: 6px;
	left: -15px
}

.bar-homework li {
	padding: 10px 0
}

.bar-user-center {
	text-align: center
}

.bar-user-center p {
	font-size: 14px;
	margin-top: 20px
}

.bar-preview {
	padding-left: 0;
	list-style-type: none
}

.bar-preview>li {
	margin-bottom: 20px
}

.bar-preview>li i {
	margin-right: 5px
}

.bar-preview .date {
	color: #919191
}

.bar-task {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px dashed #e1e1e1
}

.bar-task:last-child {
	border: none
}

.bar-task .bar-task-header {
	color: #fff;
	padding: 4px 10px;
	line-height: 16px;
	border-radius: 20px
}

.bar-task .bar-task-header .title {
	position: relative;
	padding-right: 45px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.bar-task .bar-task-header .title span {
	position: absolute;
	top: 0;
	right: 5px
}

.bar-task .bar-time-line {
	position: relative;
	padding-left: 0;
	list-style-type: none
}

.bar-task .bar-time-line>li {
	position: relative;
	padding: 20px 0 0 30px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal
}

.bar-task .bar-time-line>li:before {
	position: absolute;
	content: "";
	top: 0;
	left: 10px;
	width: 2px;
	height: 100%
}

.bar-task .bar-time-line>li .es-icon {
	position: absolute;
	top: 20px;
	left: 4px;
	display: inline-block;
	font-size: 14px;
	line-height: 17px;
	text-align: center;
	z-index: 1;
	background-color: #fafafa
}

.bar-history {
	position: relative;
	padding: 15px 0;
	z-index: 1
}

.bar-history:before {
	position: absolute;
	content: "";
	top: 0;
	left: 26px;
	width: 2px;
	height: 100%;
	background-color: #e1e1e1;
	z-index: -1
}

.bar-history .date {
	display: inline-block;
	height: 24px;
	width: 54px;
	line-height: 24px;
	background-color: #e1e1e1;
	text-align: center;
	color: #fff
}

.bar-history ul {
	margin-bottom: 0
}

.bar-history ul>li {
	position: relative;
	padding: 30px 0 0 45px
}

.bar-history ul>li .icon {
	position: absolute;
	top: 28px;
	left: 17px;
	display: inline-block;
	width: 20px;
	height: 20px;
	color: #fff;
	border-radius: 50%
}

.js-user-card {
	display: inline-block
}

.es-card {
	width: 330px;
	max-width: 330px;
	z-index: 999
}

.es-card .popover-content {
	padding: 0
}

.es-card .card-header {
	position: relative;
	padding: 15px;
	min-height: 95px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background-color: #f5f5f5
}

.es-card .media {
	padding-right: 70px
}

.es-card .media-left {
	position: relative
}

.es-card .avatar-md {
	border: 2px solid #fff
}

.es-card .user-avatar {
	position: relative
}

.es-card .icon-user-status {
	position: absolute;
	bottom: 0;
	right: 0
}

.es-card .content {
	font-size: 12px;
	margin-top: 6px;
	color: #919191
}

.es-card .metas {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 70px;
	text-align: right
}

.es-card .metas .btn {
	margin-bottom: 12px
}

.es-card .metas .btn:last-child {
	margin-bottom: 0
}

.es-card .card-body {
	line-height: 24px;
	padding: 20px;
	color: #919191
}
