/*左边菜单栏样式*/
#menuContainer {
    height: 100%;
    width: 10%;
    background-image: url(../Image/bg2.JPG);
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
}

#menu_top {
    background-color: #3089DC;
    height: 60px;
    width: 100%;
    padding-top:5px;
}

    #menu_top img {
        width:40px;
        height:40px;
        float:left;
        margin-left:10px;
    }
    #menu_top a {
        font-size:20px;
        line-height:50px;
        vertical-align:middle;
        color:white;
        float:left;
        margin-left:10px;
    }

#menu {
    color: #FFF;
}

.menu_opened a:after {
    font-family: "KINS_pageIcon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
    content: '\e6a6';
    float: right;
    margin-right: 10px;
}

.menu_closed a:after {
    font-family: "KINS_pageIcon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFF;
    content: '\e6a7';
    float: right;
    margin-right: 10px;
}

dt i {
    font-family: KINS_pageIcon;
    color: #FFF;
    font-weight: bold;
    margin: 10px;
    font-style: normal;
}

dl, dt, dd {
    list-style: none;
    display: block;
    margin: 0;
    width: 100%;
    cursor: pointer;
    line-height: 50px;
    vertical-align: middle;
}

    dt dd {
        height: 50px;
    }

    dt:hover, dd:hover {
        background-color: #1A2432;
    }

/*left*/
#dropdown_menu {
    font-size: 11pt;
    font-style: normal;
    max-height: 100%;
    overflow-y: auto;
}


dt {
    color: white;
}

dd {
    color: #8FB6E3;
    background-color: #0F2F55;
}

    dd a {
        padding-left: 36px;
    }



/*顶部及整体容器CSS*/

body {
    background-color: #F3F7FF;
}

#mainPanel {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#top {
    height: 60px;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #CCC;
    text-align: center;
    line-height: 60px;
    vertical-align: middle;
    font-size: 11pt;
}

#user {
    color: #3D4154;
    width: 350px;
    height: 60px;
    float: right;
    cursor:pointer;
}

    #user span {
        cursor: pointer;
        line-height: 30px;
        height: 30px;
        margin-top: 15px;
        text-align: center;
        margin-right: 15px;
        float: right;
    }

    #user img {
        width: 30px;
        height: 30px;
    }
.userMenu li {
    cursor:pointer;
}

#exit {
    border-left: 1px solid #D8D8D8;
    padding-left: 10px;
}

#top ul {
    height: 100%;
    float: right;
}

    #top ul li {
        color: #3D4154;
        width: 130px;
        height: 60px;
        float: right;
        border-left: 1px solid #D8D8D8;
    }

/*iframe容器样式*/
#main {
    margin: 10px 1% 10px 1%;
    width: 88%;
    float: right;
    border: 0px;
}
