body {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    color: #333;
}

.containerTitle {
    text-align: left;
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
}

.container {
    width: 100%;
    height: 280px;
    margin-top: 50px;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
}

    li div {
        height: 100%;
        margin: 0;
        padding: 0;
    }

.name {
    width: 40%;
    float: left;
    text-align: right;
}

.value {
    width: 60%;
    float: right;
    text-align: left;
}

input {
    margin-left: 20px;
}
