body {
    background-color: #F3F7FF;
}

#iframeContainer {
    width: 99.5%;
}

#leftContainer {
    float: left;
    width: 20%;
    height: 100%;
    border: 1px solid #DEE5F3;
    background-color: #FFF;
    color: #333;
}

    #leftContainer ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        width: 100%;
    }

        #leftContainer ul li {
            list-style: none;
            padding-left: 20px;
            height: 25px;
            line-height: 25px;
            vertical-align: middle;
            font-size: 10pt;
            cursor: pointer;
            padding-left: 20px;
        }

    #leftContainer li:hover {
        color: white;
        background-color: #2f89e1;
    }

    #leftContainer input[type="checkbox"] {
        margin-right: 10px;
    }

#rightContainer {
    width: 79%;
    float: right;
    margin: 0 -4px 0 1%;
    height: 100%;
    max-height: 100%;
    border: 1px solid #DEE5F3;
    background-color: #FFF;
}

#comType, #comCompany {
    margin: 4% 4% 0 4%;
    height: 47%;
    width: 92%;
}


.tablePage {
    height: 50px;
    width: 100%;
    text-align: right;
    margin-right: 30px;
}

    .tablePage input {
        width: 30px;
        height: 30px;
        padding: 0px;
        margin: 0px;
        outline: none;
        text-align: center;
        color: white;
        background-color: #93C0F7;
        border: 0px;
        cursor: pointer;
    }

        .tablePage input:hover {
            background-color: #4891FF;
        }

#pageNum {
    background-color: #4891FF;
}

.tablePage select {
    margin-right: 20px;
}
